﻿@page
@using System.Linq;
@model WebRazorPages.Pages.Order.IndexModel
@{
   ViewData["Title"] = "My Order History";
}
<div class="esh-orders">
   <div class="container">
      <h1>@ViewData["Title"]</h1>
      <article class="esh-orders-titles row">
         <section class="esh-orders-title col-xs-2">Order number</section>
         <section class="esh-orders-title col-xs-4">Date</section>
         <section class="esh-orders-title col-xs-2">Total</section>
         <section class="esh-orders-title col-xs-2">Status</section>
         <section class="esh-orders-title col-xs-2"></section>
      </article>
      @if (Model.Orders != null && Model.Orders.Any())
      {
         @foreach (var item in Model.Orders)
         {
            <article class="esh-orders-items row">
               <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.OrderNumber)</section>
               <section class="esh-orders-item col-xs-4">@Html.DisplayFor(modelItem => item.OrderDate)</section>
               <section class="esh-orders-item col-xs-2">$ @Html.DisplayFor(modelItem => item.Total)</section>
               <section class="esh-orders-item col-xs-2">@Html.DisplayFor(modelItem => item.Status)</section>
               <section class="esh-orders-item col-xs-1">
                  <a class="esh-orders-link" asp-page="Detail" asp-route-orderId="@item.OrderNumber">Detail</a>
               </section>
               <section class="esh-orders-item col-xs-1">
                  @if (item.Status.ToLower() == "submitted")
                  {
                     <a class="esh-orders-link" asp-page="Cancel" asp-route-orderId="@item.OrderNumber">Cancel</a>
                  }
               </section>
            </article>
         }
      }
   </div>
</div>
